<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Polla APP</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
    
  </mat-toolbar-row>
</mat-toolbar>
<div class="signin-content">
  <mat-card color="primary">
    <mat-card-header>
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="User">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </mat-card>
</div>